

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nutrition Facts Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="container">
        <p>Your Recipe Ingredients</p>
        <ul class = "list-group">
            <% for (var i = 0; i < data.ingredientsList.length; i++) { %>
                <li class="list-group-item"><%= data.ingredientsList[i].food_name %> - <%= data.quantity[i] %> g</li>
            <% } %>
        </ul>
        <div><h3>Total servings : <%= data.numOfServings %></h3></div>
        <div class="table-responsive"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Typical values</th>
                        <th>100g contains</th>
                        <th>(<%= data.servingSize%>g) contains</th>
                        <th>%RI</th>
                        <th>Ricipe contains</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Energy</td>
                        <td><%= data.perHundredContains.hdKcal.toFixed(2) %> Kcal</td>
                        <td><%= data.perPortionContains.ppKcal.toFixed(1) %> Kcal</td>
                        <td><%= data.dailyRIContains.driKcal.toFixed(1) %> %</td>
                        <td><%= data.nutrition.energyKCal.toFixed(2) %> Kcal</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><%= data.perHundredContains.hdKJ.toFixed(2) %> kJ</td>
                        <td><%= data.perPortionContains.ppKJ.toFixed(1) %> kJ</td>
                        <td></td>
                        <td><%= data.nutrition.energyKJ.toFixed(2) %> kJ</td>
                    </tr>
                    <tr>
                        <td>Fat</td>
                        <td><%= data.perHundredContains.hdFat.toFixed(2) %> g</td>
                        <td><%= data.perPortionContains.ppFat.toFixed(1) %> g</td>
                        <td><%= data.dailyRIContains.driFat.toFixed(1) %> %</td>
                        <td><%= data.nutrition.fat.toFixed(2) %> g</td>
                    </tr>
                    <tr>
                        <td>of which saturates</td>
                        <td><%= data.perHundredContains.hdSat.toFixed(2) %> g</td>
                        <td><%= data.perPortionContains.ppSat.toFixed(1) %> g</td>
                        <td><%= data.dailyRIContains.driSat.toFixed(1) %> %</td>
                        <td><%= data.nutrition.saturatedFat.toFixed(2) %> g</td>
                    </tr>
                    <tr>
                        <td>Carbohydrate</td>
                        <td><%= data.perHundredContains.hdCarb.toFixed(2) %> g</td>
                        <td><%= data.perPortionContains.ppCarb.toFixed(1) %> g</td>
                        <td><%= data.dailyRIContains.driCarb.toFixed(1) %> %</td>
                        <td><%= data.nutrition.carbohydrate.toFixed(2) %> g</td>
                    </tr>
                    <tr>
                        <td>of which sugars</td>
                        <td><%= data.perHundredContains.hdSugars.toFixed(2) %> g</td>
                        <td><%= data.perPortionContains.ppSugars.toFixed(1) %> g</td>
                        <td><%= data.dailyRIContains.driSugars.toFixed(1) %> %</td>
                        <td><%= data.nutrition.sugars.toFixed(2) %> g</td>
                    </tr>
                    <tr>
                        <td>Protein</td>
                        <td><%= data.perHundredContains.hdProtein.toFixed(2) %> g</td>
                        <td><%= data.perPortionContains.ppProtein.toFixed(1) %> g</td>
                        <td><%= data.dailyRIContains.driProtein.toFixed(1) %> %</td>
                        <td><%= data.nutrition.protein.toFixed(2) %> g</td>
                    </tr>
                    <tr>
                        <td>Fibre</td>
                        <td><%= data.perHundredContains.hdFibre.toFixed(2) %> g</td>
                        <td><%= data.perPortionContains.ppFibre.toFixed(1) %> g</td>
                        <td></td>
                        <td><%= data.nutrition.fibre.toFixed(2) %> g</td>
                    </tr>
                    <tr>
                        <td>Salt</td>
                        <td><%= (data.perHundredContains.hdSalt >= 1 ?  perHundredContains.hdSalt = data.perHundredContains.hdSalt.toFixed():data.perHundredContains.hdSalt = '<1' ) %>g</td>
                        <td><%= (data.perHundredContains.ppSalt >= 1 ?  perHundredContains.ppSalt = data.perHundredContains.ppSalt.toFixed():data.perHundredContains.ppSalt = '<1' ) %>g</td>
                        <td><%= (data.perHundredContains.driSalt >= 1 ?  perHundredContains.driSalt = data.perHundredContains.driSalt.toFixed():data.perHundredContains.driSalt = '<1' ) %>%</td>
                        <td><%= data.nutrition.salt.toFixed(1) %> g</td>
                    </tr>
                </tbody>
            </table>
            <a href="/" class="btn btn-primary">Start new</a>
        </div>        
    </div>

</body>
</html>
